/* Caixa externa ao Card */
.Outer-box {
    min-width: 275px;
    min-height: 100px;
    max-width: 275px;
    max-height: 275px;
}

/* Card */
.Custom-card {
    max-width: 300px;
    max-height: 200px;
}

/* Container para os conteúdos do Card */
.Card-container {
    max-width: inherit;
    max-height: inherit;
    position: relative;
    width: 100%;
    height: 250px;
}

/* Organização posicional da imagem e texto */
.Card-image,
.Title-box {
    position: absolute;
}

/* Imagem do card */
.Card-image {
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Container para o texto */
.Title-box {
    background-color: #D5E9F7;
    color: black;
    top: 30%;
    left: -17px;
    z-index: 10;
    height: 100%;
    width: 257px;
    padding: 10px;
    text-align: center;
}

/* Texto do Card */
.Title-text {
    font-size: 2vw;
}